body {
  font-size: 16px;
  font-family: "Montserrat";
}

header{
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--blue);
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 1;
}

.nav #logo{
  padding-left: 1rem;
}

.nav ul{
  list-style-type: none;
  display: inline-flex;
  justify-content: space-between;
}

.nav li{
  padding-left: 3rem;
  padding-right: 3rem;
}

.nav a{
  text-decoration: none;
  color: #ffffff;
}
.nav a:hover{
  text-decoration: none;
  color: var(--yellow);
}


:root {
  --blue: #00158c;
  --yellow: #d6c627;
  --red: #a3464a;
  --white: #ffffff;
  --majorelle:#6050DC;
}

.container{
  width: 100%;
  padding: 3rem;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 43rem;
  background-image: url("../images/Teppichbanner.jpeg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
  top: 3rem;
}

.banner h1 {
  font-size: 3rem;
  font-family: "Major Mono Display";
  color: var(--white);
}

#mission{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

#mission .heading {
  display: inline-flex;
  flex: 1;
  width: 100%;
  padding: 4rem;
  padding-right: 6rem;
  justify-content: space-between;
  font-size: 2rem;
  color: var(--red);
}

#mission p{
  padding: 4rem;
  line-height: 1.2rem;
}

.carpets{
  width: 150px;
  height: 200px;
  filter:grayscale(55%);
  padding: 4rem;
}

.carpets:hover{
  filter:grayscale(0%);
  cursor: pointer;
}

#teammates {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

#teammates .teammate{
  width: 150px;
  height: 200px;
  filter:grayscale(55%);
  padding: 4rem;
}

#teammates .card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 2px;
}

.card h4{
  font-family: "Major Mono Display";
}

@media screen and (max-width: 520px ) {
  .nav li{
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .carpets{
    padding: 2rem;
  }
  .teammate {
    padding: 2rem;
  }
}
